
.container {
    width: 95%;
    margin: auto;
    display: flex;
}

.imgProjeto{
    width: 90%;
    height: 100%;
    margin-left: 10%;
    align-self: center;
}
.textos{
    height: 50%;
    width: fit-content;
}
.textos h1{
    color: #494949;
    margin-bottom: 0;
}
.textos h3{
    color: #8cd147;
    margin: 0;
}
.textos p {
    text-align: justify;
}