* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{width:100%;
	height:100%;
}
body{
	background-color: #deffc7;
	width:100%;
	height:100%;
}

.cntCalculadora { 
    width: 650px;
    height: auto;
    background-color:#b6ce94;
    border-radius: 50px;
    margin: auto;
    margin-top: 1%;                                       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 10px;
}

.cntCalculadora h1 {
    text-align: center;
    color: #494949;
    font-size: 40px;
}

select {
    width: 600px;
    height: 35px;
    font-size: 30px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #494949;
}

input {
    width: 600px;
    height: 35px;
    font-size: 30px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #494949;
}

.mensagem {
    width: 600px;
    height: 60px;
}

.cntCalculadora button {
    width: 200px;
    height: fit-content;
    background-color: #8cd147;
    color: white;
    font-size: 30px;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
}

.resultado {
    
    font-size: 30px;                                       
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    justify-content: space-around;
    color: white;
    margin: 3%;
}

.FAO {
    width: 350px;
    height: 30px;
    background-color:#b6ce94;
    font-size: 25px;
    border-radius: 50px;
    margin: auto;
    margin-top: 1%; 
    margin-bottom: 1%;                                      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}