body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(232, 255, 234);
}
.boxbar{
    width: 100%;
    display: flex;
    background-color: rgb(232, 255, 234);
    justify-content: center;
    justify-content: space-around;
    border-bottom: solid rgb(112, 202, 85) 2px;
    }

    .navbar{
        width: 400px;
        display: flex;
        color: #482c1d;
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular',
         'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
         font-weight: 600;
        list-style: none;
        justify-content: space-between ;
        white-space: nowrap;
        align-self: center;
    }

.tela_login{
    background-color: #B6CE94;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color: #ffffff;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color:black;
    font-size: 17px;
    cursor: pointer;
}