* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 910px;
}

img{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}



.header{
    width: 100%;
    background-color: white;
    border-bottom: solid rgb(112, 202, 85) 2px;
}

.header .container{
    justify-content: space-between;
    align-items: center;
}

.NavBar ul{
    color:#482c1d
}

.NavBar a{
    color: #482c1d;
    text-decoration: none;
}

.header .container h1{
    font-weight: 600;
    color: rgb(60, 71, 60);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode',  Verdana, sans-serif;
} 

.NavBar{
    display: flex;
    width: 400px;
    color: #482c1d;
    font-size: large;
    font-weight: 600;
    list-style: none;
    justify-content: space-evenly;
}

.header .container h1{
    font-weight: 600;
    color: rgb(60, 71, 60);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode',  Verdana, sans-serif;
} 


h1{
    display: flex;
}
h3{
    display: flex;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.banner{
    display: flex;
    width: 100%;
    background-image:url(../assets/imgs/Banner.png);
    background-size: cover;
    height: 750px;
    align-items: center;
}

.banner .container{
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 55%;
   font-size: 25px;
   align-items: center;
   padding: 15px;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 800px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.content::before {
    content: "";
    position: absolute;
    background-color: #b6ce94;
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 1;
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form h6{
    display: flex;
    align-self: center;
    margin-top: 1%;
    margin-bottom: 0%;
    width: 250px;
    text-align: justify;
}

.form input {
    width: 600px;
    height: 35px;
    font-size: 30px;
    margin-bottom: 3%;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #ececec;
}

/* Empresa*/

.second-content {
    position: absolute;
    display: flex;
} 
#formRepre{
    margin-left: 10%;
    margin-bottom: 10px;
}

.formulario input{
    width: 300px;
    height: 30px;
    display: flex;
    text-align: center;
    font-size: 20px;
}

.banner .caixa_formulario .formulario .input{
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: none;
    width: 400px;
    height: 35px;
}

.formulario button{
    width: 200px;
    height: 45px;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    border-style: none;
    background-color: #8cd147;
    color: white;
    border-radius: 20px;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 2%;
    margin-top: 3%;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #8cd147;
    width: 100%;
    height: 96px;
    align-self: flex-end;
}

.msg_footer {
    color: #482c1d;
    font-size: smaller;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer a {
    text-decoration: none;
    color: white;
}

#a_contato{
    color: white;
    text-decoration: none;
}

button a {
    text-decoration: none;
    color: white;
}