* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{width:100%;
	height:100%;
}
body{
	background-color: white;
    background-image: url(../assets/imgs/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 662px;
}

body {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.containerContato { 
    width: 650px;
    height: 450px;
    background-color:#b6ce94;
    border-radius: 50px;
    margin: auto;
    margin-top: 1%;                                       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.containerContato h1 {
    text-align: center;
    color: #494949;
    font-size: 40px;
}

input {
    width: 600px;
    height: 35px;
    font-size: 30px;
    border-style: none;
    border-radius: 0px;
    text-align: center;
    display: flex;
    align-items: center;
}

.mensagem {
    width: 600px;
    height: 60px;
}

.containerContato button {
    width: 200px;
    height: 40px;
    background-color: #8cd147;
    color: white;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
}

button a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.suporte h6 {
    width: 250px;
    height: 50px;
    background-color:#b6ce94;
    font-size: 15px;
    border-radius: 50px;
    margin: auto;
    margin-top: 1%;  
    margin-bottom: 1%;                             
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}