* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    margin: 0%;
    height: 650px;
}

.boxbar {
    width: 100%;
    height: 85px;
    display: flex;
    background-color: rgb(255, 255, 255);
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    border-bottom: solid rgb(112, 202, 85) 2px;
}

.logo {
    width: 100px;
    height: 100px;
}

.navbar {
    width: 400px;
    display: flex;
    color: #482c1d;
    font-size: large;
    font-weight: 600;
    list-style: none;
    justify-content: space-between;
    white-space: nowrap;
    align-self: center;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #482c1d;
}


.navbar a:hover {
    font-weight: 900;
}


h2 {
    font-size: xx-large;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Verdana, sans-serif;
    color: rgb(60, 71, 60);
}


.box_banner {
    display: flex;
    margin: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

.banner {
    background-size: cover;
    background-image: url(../assets/imgs/Banner.png);
    width: 100%;
    /* height: 100%;  */
}


.banner .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.msgBanner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0%;
}

.banner .container p {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 400px;
    margin: 5px;
}

p .Sistema {
    color: rgb(141, 242, 53);
    font-weight: 800;
    font-size: 50px;
    text-shadow: 3px 3px #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.remotoTitulo {
    display: flex;
    width: 120px;
    height: fit-content;
    padding: 1%;
    border: 3px solid #8cd147;
    border-radius: 100px;
    background-color: #8cd147;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 2px 2px #607959;
}

.remoto {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 300px;
    justify-content: start;
    align-items: center;
    text-shadow: 2px 2px #607959;
}

.footer .simulador {
    background-color: #8cd147;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    width: 200px;
    margin-top: 15%;
}

.banner .container .simulador a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-self: center;
    text-decoration: none;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8cd147;
    width: 100%;
    height: 10%;
    bottom: 0;
    position: fixed;
    flex-direction: column;
    z-index: 999;
}

.msg_footer {
    color: #482c1d;
    font-size: smaller;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.msg_footer a {
    /* color: white; */
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
    color: white;
}

.botoes {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.simulador a {
    display: flex;
    width: 180px;
    height: 50px;
    padding: 1%;
    border: 3px solid #8cd147;
    border-radius: 100px;
    background-color: #8cd147;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 550;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(248, 248, 248);
    text-shadow: 2px 2px #607959;
    align-items: center;
    margin-bottom: 25%;
}

.cadastro a {
    display: flex;
    width: 180px;
    height: 70px;
    padding: 1%;
    border: 3px solid #8cd147;
    border-radius: 70px;
    background-color: #8cd147;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 550;
    font-size: 150%;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #607959;
    text-align: center;
    align-items: center;
}

.cadastro a:hover {
    background-color: #ffffff;
    color: rgb(82, 190, 66);
    transition-duration: 0.4s;
    text-shadow: 2px 2px #ffffff;
}


.simulador a:hover {
    background-color: #ffffff;
    color: rgb(82, 190, 66);
    transition-duration: 0.4s;
    text-shadow: 2px 2px #ffffff;
}