
.container {
    width: 95%;
    margin: auto;
    display: flex;
}

.imgProjeto{
    width: 100%;
    height: 50%;
    margin-left: 10%;
    align-self: center;
}
.textos{
    padding: 5%;
    height: 50%;
    width: fit-content;
}
.textos h1{
    color: #494949;
    margin-bottom: 0;
}
.textos h3{
    color: #8cd147;
    margin: 0;
}
.textos p {
    text-align: justify;
}
.conteudo {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}