@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

/* .funcionario{
  display: none;
} */
.container {
  width: 80%;
  margin: auto;
  display: flex;
}


/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}


.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* Dashboard Lettuce */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}


.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  border-right: 3px solid rgb(23, 69, 9);
  background-color: #212124;
  /* border: 3px solid pink; */
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: rgb(23, 69, 9);
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: #b6ce94;
  ;
  border: 3px solid rgb(23, 69, 9);
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: rgb(23, 69, 9);
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: rgb(23, 69, 9);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.dash-header {
  background-color: #228B22;
  ;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #74845e;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.regua-macro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}

.regua-macro-gerenciamentoFunc {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.regua-btn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.botoes_gerenciar{
  display: flex;
  flex-direction: column;
}

.botoes_gerenciar button{
width: 260px;
}

.temp {
  background-color: white;
  border-radius: 30px;
}

.umid {
  background-color: white;
  border-radius: 30px;
}



.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.item-regua-macro {
  padding: 5px;
  width: 30%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.critico_mtQuente,
.critico_mtFrio {
  color: darkred;
}

.emergencia_Quente,
.emergencia_frio {
  color: darkorange;
}

.atencao_quente,
.atencao_frio {
  color: #CCCC00;
}

.ideal_0,
.ideal_3 {
  color: #9ccc65;
}



.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
}

.card {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 30px;
  background-color: rgb(23, 69, 9);
  font-size: 20px;
  position: relative;
  width: 40vw;
  align-items: center;
  padding: 10px;

}

.cards-carga {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: black;
}

.card-carga {
  margin: 2%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: #fff;
  font-size: 20px;
  position: relative;
  width: 70vw;
  padding: 10px;

}

.card-carga p {
  margin: 0;
  font-size: 50px;
  text-align: left;
}

.cards-carga h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid black 1px;
  text-align: left;
  margin: 20px;
}

.cards-carga h4 {
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}


.cards-gerenciamentoFunc {
  display: flex;
  flex-direction: column;
  margin-left: 8vh;
  width: 100%;
}

.card-gerenciamentoFunc {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: #fff;
  font-size: 20px;
  position: relative;
  width: 50vw;
  padding: 10px;

}

.custom .card-gerenciamentoFunc h1 {
  display: flex;
  justify-content: center;

}

.conteiner_select select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
  font-size: 1.0rem;
  padding: 1em 5em 1em 1.5em;
  /* background: #4d5061; */
  background-color: #228B22;
  color: white;
  width: 100%;
  border: 0;
  border-radius: 20px;
  outline-style: none;
}

.custom-select {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  /* background-color: #3b3c47; */
  background-color: #8cd147;
  height: 100%;
  width: 3em;
  pointer-events: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}


.custom-arrow::before,
.custom-arrow::after {
  --size: 0.65em;

  content: '';
  position: absolute;
  width: 0;
  height: 0;



  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, .5);

  top: 35%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, .5);

  top: 65%;
}


#div-btn-editar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-right: 80px;
}

.div_button_procurar_caminhao{
background-color: #8cd147;
color: white;
border-style: none;
border-radius: 30px;
display: flex;
/* text-align: start; */
/* justify-content: center; */
align-items: center;
flex-direction: column;
width: 260px;
height: 200px;
margin-top: 30px;
}
.div_button_procurar_caminhao h3{
  font-size: 24px;
font-weight: 500;

}

.btn-editar {
  display: flex;
  background-color: #228B22;
  color: white;
  font-size: 30px;
  border-style: none;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  width: 220px;
  height: 60px;
  justify-content: center;
}

#div-gerenciamentoFunc {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-right: 80px;

}

#div-gerenciamentoFunc button {
  display: flex;
  background-color: #8cd147;
  color: white;
  font-size: 30px;
  border-style: none;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;

}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}


.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}


.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 80% !important;
}

.dados {
  background-color: white;
  border-radius: 30px;
}

#div_mensagem button:hover {
  cursor: pointer;
}

.chart-container {
  border-color: #228B22;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  display: flex;
  position: relative;
  height: 35vh;
  width: fit-content;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin-left: 20px;
}